
/*Resume Builder*/
.resume-container .row{
  margin: auto;
  padding: 20px 0px;
}

.resume-container input {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.control-label {
  display: inline;
}


.task {
  text-align: center;
  margin: auto;
}

.todoListMain .header input {
  margin-right: 20px;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0px;
  width: 255px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  border-radius: 5px;
}

/* Home */
.home-container .row {
  margin: auto;
  padding: 20px 60px;
  text-align: center;
}

.step-title {
  font-size: 18px;
}

.button-title {
  font-weight: bold;
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 0px !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.jumbotron h2 {
  color: #4c4c4c !important;
}
.navbar {
  background-color: #3e5fab !important;
}

/*Quiz Page*/
.quiz-container {
  padding: 40px 20%;
}

.quiz {
  border: solid 2px #3e5fab;
}

.quiz-container form {
  padding-bottom: 20px;
}

.quiz-container button {
  background: #3e5fab;
  color: white;
}
