p {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
}

@font-face {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css?family=Oswald:400'); 
}


/*Resume Builder*/
.resume-container {
  padding: 20px 0;
  color: #3e3e3e;
}

.resume-container .row{
  margin: auto;
  padding: 5px 0;
}

.resume-container input {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.resume-container button {
  background: #a6ce39;
  color: white;
}

.resume-form {
  border-bottom: 2px solid #a6ce39;
  padding: 10px 0;
  margin-bottom: 10px;
}

.chosen-skills {
  padding: 10px 0;
}
.control-label {
  display: inline;
}

.task {
  text-align: center;
  margin: auto;
}

.todoListMain .header input {
  margin-right: 20px;
}

.todoListMain .theList {
  list-style: none;
  padding-left: 0;
  width: 255px;
}

.todoListMain .theList li {
  color: #333;
  background-color: rgba(255,255,255,.5);
  padding: 15px;
  border-radius: 5px;
}

/* Home */
.home-container .row {
  margin: auto;
  padding: 20px 60px;
  text-align: center;
}

.home-container button {
  background: #a6ce39;
  color: white;
}

.step-title {
  font-size: 18px;
  font-weight: 500; 
}

.button-title {
  font-weight: bold;
  font-size: 18px;
}

.jumbotron {
  margin-bottom: 0 !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.jumbotron h2 {
  color: #4c4c4c !important;
}
.navbar {
  background-color: #a6ce39 !important;
}

/*Quiz Page*/
.quiz-container {
  padding: 40px 15%;
}

.quiz {
  border: solid 2px #a6ce39;
}

.quiz-container form {
  padding-bottom: 20px;
}

.quiz-container button {
  background: #a6ce39;
  color: white;
}

/* Resume Preview Page */

.side-resume ul {
  list-style: none;
  padding-left: 0;
}

.resume-header {
  margin: auto;
  padding: 30px 60px;
  /* font-family: ; */
  text-align: center;
}

/* Final Page */

.final-main-container {
  padding: 40px 15%;
}

.final-main-container .download {
  text-align: center;
}

.final-main-container button {
  background: #a6ce39;
  color: white;
}
